$primary: #59ffc0;
$secondary: #000e23;
$success:#23d5ab;
$warning:#d4b872;
$danger:#D80027;
$info: #23a6d5;
$bg-color:#f5f8fa;

$tooltip-bg:$primary;

:root{
  --bs-body-color:#fff;
  --bs-body-color-rgb: 255, 255, 255;
  --bs-body-bg: #000e23;
  --bs-body-bg-rgb: 0, 14, 35;
  --teal: #2aa89b;
  --gold: #d4b872;
  --red: #e55c5c;
  --purple-1: #a78bfa;
  --purple-2: #5b21b6;
}
.nav{
    --bs-nav-link-color:rgba(255, 255, 255, 0.35);
}
.nav-pills {
    --bs-nav-pills-link-active-color: #050505;
}

$container-max-widths: (
  xxl: 1720px
);

$modal-md: 90%;
$modal-lg: 900px;
