$primary: #C7FF00;
$secondary: #e73c7e;
$success:#23d5ab;
$warning:#ee7752;
$danger:#D80027;
$info: #23a6d5;
$bg-color:#f5f8fa;

:root{
  --bs-body-color:#fff;
  --bs-body-color-rgb: 255, 255, 255;
  --bs-body-bg: #050505;
  --bs-body-bg-rgb: 5, 5, 5;
}

$container-max-widths: (
  xxl: 1720px
);